<!-- Download Section -->
<section id="download" class="bg-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Download Our Game</h2>
                <h3 class="section-subheading text-muted">Get started on your musical adventure today!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <a href="path/to/windows-download" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px;">
                    <i class="fa fa-windows fa-2x"></i> Download for Windows
                </a>
                <a href="path/to/linux-download" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px;">
                    <i class="fa fa-linux fa-2x"></i> Download for Linux
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Download it now and start your journey in creating and mastering music in a fun and engaging way.</p>
            </div>
        </div>
    </div>
</section>
