<!-- Portfolio Modals -->
{% for post in site.posts %}
   <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ post.title }}</h2>
                           <hr class="star-primary">
                           {% if post.video %}
                               <div class="embed-responsive embed-responsive-16by9">
                                   <iframe id="video-{{ post.modal-id }}" class="embed-responsive-item" data-src="{{ post.video }}?autoplay=1&loop=1&playlist={{ post.video_id }}&mute=1" src="{{ post.video }}?autoplay=1&loop=1&playlist={{ post.video_id }}&mute=1" allowfullscreen></iframe>
                               </div>
                           {% else %}
                               <img src="img/mockup/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                           {% endif %}
                           <p>{{ post.description }}</p>
                           <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}

<!-- JavaScript to stop video on modal close -->
<script>
    $(document).ready(function() {
        $('.portfolio-modal').on('hidden.bs.modal', function () {
            // Trouver l'iframe dans la modale fermée
            var $iframe = $(this).find('iframe');
            // Vider le src pour arrêter la vidéo
            $iframe.attr('src', '');
        });

        $('.portfolio-modal').on('shown.bs.modal', function () {
            // Réactiver le src pour que la vidéo puisse être lue
            var $iframe = $(this).find('iframe');
            var src = $iframe.data('src');  // Assumez que la vidéo est stockée dans l'attribut data-src
            $iframe.attr('src', src);
        });
    });
</script>
