<!-- Portfolio Modals -->
{% for post in site.posts %}
   <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal{{ post.modal-id }}">
               <div class="lr">
                   <div class="rl"></div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ post.title }}</h2>
                           <hr class="star-primary">
                           {% if post.video %}
                               <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="video-{{ post.modal-id }}" class="embed-responsive-item" data-src="{{ post.video }}?autoplay=1&loop=1&playlist={{ post.video_id }}&mute=1" src="" allowfullscreen></iframe>
                            </div>
                           {% else %}
                               <img src="img/mockup/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                           {% endif %}
                           <p>{{ post.description }}</p>
                           <button type="button" class="btn btn-default close-btn" data-dismiss="modal" data-target="#portfolioModal{{ post.modal-id }}"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}


<script>
    // Fonction pour démarrer la vidéo
    var startVideo = function (modalId) {
        var video = document.querySelector(modalId + ' iframe');
        if (video) {
            var src = video.getAttribute('data-src');
            video.src = src; // Assigner l'URL de la vidéo pour démarrer la lecture
        }
    };
    
    // Fonction pour arrêter la vidéo
    var stopVideos = function (modalId) {
        var video = document.querySelector(modalId + ' iframe, ' + modalId + ' video');
        if (video) {
            if (video.tagName.toLowerCase() === 'video') {
                video.pause();
            } else {
                video.src = ''; // Réinitialiser la source de l'iframe pour arrêter la vidéo
            }
        }
    };
    
    // Événements pour gérer l'ouverture et la fermeture des modals
    $(document).on('show.bs.modal', function (e) {
        var modalId = $(e.target).attr('id');
        startVideo('#' + modalId);
    });
    
    $(document).on('hide.bs.modal', function (e) {
        var modalId = $(e.target).attr('id');
        stopVideos('#' + modalId);
    });
    
    // Détecter les clics sur les boutons de fermeture
    $(document).on('click', '.close-modal, .close-btn', function () {
        var modalId = $(this).data('target');
        stopVideos(modalId);
    });
</script>
    