<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <h3 class="section-subheading text-muted">Explore the unique aspects of our brand new automation musical game.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Generation and Modification</h4>
                <p class="text-muted">
                    Generate and manipulate musical notes with intuitive tools, creating endless musical possibilities. 
                    Customize notes on-the-fly, changing pitch, rhythm, and more to craft the perfect melody.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Musical Automation</h4>
                <p class="text-muted">
                    Automate the whole process with specialized building blocks to increase the cadence to an <i>allegro</i> rythm.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Real-Time Sound Validation</h4>
                <p class="text-muted">
                    Hear your creations while your musical factory grows. Each block will let you hear the sound it produces by clicking it.
                </p>
            </div>
        </div>
    </div>
</section>